#------------------------------
# GitHub Action Part-1 - Basics
#
#------------------------------
name: My-GitHubActions-Basics

on:
 push:
    branches:
      - main

jobs:
  my_testing:

    runs-on: ubuntu-latest

    steps:
    - name: Print Hello Message
      run: echo "Hello, World from testing job!"

  my_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Print Hello Message
      run: echo "Hello, World from deploy job!"
    
